<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177560936038-0af1nv9lqicdi7h5eei9018bc64cu42g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177560936038-0af1nv9lqicdi7h5eei9018bc64cu42g</string>
	<key>API_KEY</key>
	<string>AIzaSyCycn8ReSFmmxqHFcBeC-nUfG4kF_YDQqs</string>
	<key>GCM_SENDER_ID</key>
	<string>177560936038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berlin.code.emood</string>
	<key>PROJECT_ID</key>
	<string>emood-2ad33</string>
	<key>STORAGE_BUCKET</key>
	<string>emood-2ad33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177560936038:ios:c4cdd1f78558eb52b357a7</string>
	<key>DATABASE_URL</key>
	<string>https://emood-2ad33.firebaseio.com</string>
</dict>
</plist>